/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.language-repos-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.repository-repos-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
